.footer {
  border-top: 1px solid rgba($dark, 0.25);
  padding-top: 50px;
  margin-top: 100px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
    &:first-of-type {
      margin-bottom: 100px;
    }
  }
  &__logo {
    max-width: 61px;
    height: auto;
  }
  &__social {
    &__link {
      display: inline-block;
      padding: 5px;
      &:hover {
        svg path {
          fill: $black;
        }
      }
    }
  }
  &__nav {
    &__wrapper {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: flex-start;
      list-style: none;
      > .menu-item {
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 10px;
        padding: 0px 0px 0px 40px;
        a {
          font-size: 16px;
          font-weight: 500;
          color: $black;
          &:hover {
            color: $brand;
            text-decoration: none;
            svg path {
              fill: $brand;
            }
          }
        }
      }
    }
  }
  &__by {
    font-size: 14px;
    color: $black;
    font-weight: 400;
  }
  &__copy {
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }
}
