.btn-primary {
  border-radius: 0px;
  border: 1px solid $brand;
  box-shadow: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
  color: $brand;
  text-transform: uppercase;
  padding: 22px 30px;
  background: transparent;
  &:hover {
    background: $brand;
    color: $white;
    border-color: $brand;
  }
}
