body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea, input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sec-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.0;
  text-align: left;
  color: $dark;
  text-transform: uppercase;
  margin: 0px 0px 50px 0px;
  a {
    color: $dark;
    text-decoration: none;
  }
}
.close-btn {
  display: block;
  text-indent: -99999px;
  position: relative;
  width: 32px;
  height: 32px;
  &:before {
    content: "";
    position: absolute;
    top: 16px;
    left: -7px;
    width: 45px;
    border-top: 1px solid $dark;
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: 16px;
    left: -5px;
    width: 45px;
    border-top: 1px solid $dark;
    transform: rotate(45deg);
  }

}
